* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

div.nav {
    height: 80px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  1px solid grey;
    
}

.click {
    height: 50px;
    width: 50px;
    margin-left: 40px;
    border-radius: 50%;
}

.click, .links {
    transition: 0.3s;
}

.list {
    position: absolute;
    right: 22px;
    top: 60px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    border: 2px black;
}

.links {
    display: flex;
    width: 70px;
    padding: 12px;
    margin: 2px;
}

.click:hover {
    cursor: pointer;
}

.newlist {
    transform: scaleY(1);
}

.links:hover {
    transform: scale(1.1);
}

#lg {
    height: 70px;
    padding-left: 30px;
    margin-right: 10px;
}

#profile-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

span {
    font-weight: 600;
    font-size: 18px;
}

#faq {
    margin-right: 800px;
}

button {    
    padding: 10px;
    border-radius: 8px;
    background-color: antiquewhite;
    border-style: none;
    cursor: pointer;
    width: 25%;
    font-weight: 600;
}

.main-container {
    display: flex;
}

.left-side {
    display: flex;
    flex-direction: column;
    height: 94vh;
    width: 30%;
    border-right: 2px solid grey;
}

.right-side {
    height: 94vh;
    width: 70%;
}

select {
    padding: 15px;
    border-radius: 5px;
    margin-left: 20px;
    width: 50%;
    border: 2px solid #E5F5FF;
    margin-top: 8px;
    margin-bottom: 10px;
}

